<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>




<h3>Форма добавления события</h3>
<!--указываем метод и куда пойдут данные-->

<p th:if="${addInfo}">Событие <span  th:text="${addInfo}" style="color:red"></span>     добавлено</p>
<!--Если в th:if данные не придут, то строчка не отобразится вообще-->

<!--Т.е. если так, то университет добавлен будет всегда, а имя только если пришел аттрибут. Где if то и проверяется (в каком теге)-->
<!--<p>Университет <span  th:if="${addInfo}" th:text="${addInfo}" style="color:red"></span>     добавлен</p>-->



<form method="post" th:action="@{/event/add}" th:object="${event}">

    <div>
    <label>Введите название события: <input th:field="*{eventTitle}" type="text"></label>

    </div>

    <div>
        <label>Описание события <template th:field="*{eventDescription}"></template></label>
    </div>

    <div>
        <label>Дата начала: <input th:field="*{eventStart}" type="datetime-local"></label>
    </div>

    <div>
    <p><input type ="submit" value="Добавить"></p>
    </div>
</form>

<p><a href="/">На главную страницу</a></p>


</body>
</html>

