<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/event/info}">

    <div>
        <select name ="eventId">
            <option th:each="event : ${events}"
                    th:text="${event.eventTitle}"
                    th:value="${event.id}">

            </option>
        </select>

    </div>

    <input type="submit" value = "получить данные">

</form>

<div th:if="$event">
    <p th:text="$event.eventTitle}"></p>
    <p th:text="$event.eventStart}"></p>
    <div th:each="$student : ${event.students}}">
        <p th:text="${student.studentName}"></p>
    </div>

</div>



</body>
</html>